In [1]:
import sqlite3
import pandas as pd

# Load CSV file into Pandas DataFrame
file_path = "/content/sales.csv"  # Adjust if needed
df = pd.read_csv(file_path)

# Connect to SQLite (Creates a database in memory)
conn = sqlite3.connect("salesdb.sqlite")

# Import the CSV data into a SQL table
df.to_sql("SalesTable", conn, if_exists="replace", index=False)

# Check if data is loaded
query = "SELECT * FROM SalesTable LIMIT 5"
result = pd.read_sql(query, conn)
print(result)

    Invoice_ID Branch       City Customer_type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      A     Yangon        Member    Male
4  373-73-7910      A     Yangon        Normal    Male

             Product_line  Unit_price  Quantity   Tax_5%     Total       Date  \
0       Health and beauty       74.69         7  26.1415  548.9715   01-05-19
1  Electronic accessories       15.28         5   3.8200   80.2200   03-08-19
2      Home and lifestyle       46.33         7  16.2155  340.5255   03-03-19
3       Health and beauty       58.22         8  23.2880  489.0480  1/27/2019
4       Sports and travel       86.31         7  30.2085  634.3785   02-08-19

    Time      Payment    cogs  gross_margin_percentage  gross_income  Rating
0  13:08      Ewallet  522.83                 4.761905       26.1415     9.1
1  10:29         Cash   76.40                 4.761905        3.8200     9.6
2  13:23  Credit card  324.31                 4.761905       16.2155     7.4
3  20:33      Ewallet  465.76                 4.761905       23.2880     8.4
4  10:37      Ewallet  604.17                 4.761905       30.2085     5.3

In [6]:
query = "PRAGMA table_info(SalesTable);"
result = pd.read_sql(query, conn)
print(result)

    cid                     name     type  notnull dflt_value  pk
0     0               Invoice_ID     TEXT        0       None   0
1     1                   Branch     TEXT        0       None   0
2     2                     City     TEXT        0       None   0
3     3            Customer_type     TEXT        0       None   0
4     4                   Gender     TEXT        0       None   0
5     5             Product_line     TEXT        0       None   0
6     6               Unit_price     REAL        0       None   0
7     7                 Quantity  INTEGER        0       None   0
8     8                   Tax_5%     REAL        0       None   0
9     9                    Total     REAL        0       None   0
10   10                     Date     TEXT        0       None   0
11   11                     Time     TEXT        0       None   0
12   12                  Payment     TEXT        0       None   0
13   13                     cogs     REAL        0       None   0
14   14  gross_margin_percentage     REAL        0       None   0
15   15             gross_income     REAL        0       None   0
16   16                   Rating     REAL        0       None   0

In [8]:
query = """
SELECT Customer_type, SUM(Total) AS TotalSpent
FROM SalesTable
GROUP BY Customer_type
ORDER BY TotalSpent DESC;
"""
result = pd.read_sql(query, conn)
print(result)

  Customer_type  TotalSpent
0        Member  164223.444
1        Normal  158743.305

In [9]:
query = """
SELECT Customer_type, COUNT(DISTINCT Invoice_ID) AS PurchaseFrequency
FROM SalesTable
GROUP BY Customer_type
ORDER BY PurchaseFrequency DESC;
"""
result = pd.read_sql(query, conn)
print(result)

  Customer_type  PurchaseFrequency
0        Member                501
1        Normal                499

In [10]:
query = """
SELECT Customer_type, AVG(Total) AS AvgSpendingPerTransaction
FROM SalesTable
GROUP BY Customer_type
ORDER BY AvgSpendingPerTransaction DESC;
"""
result = pd.read_sql(query, conn)
print(result)

  Customer_type  AvgSpendingPerTransaction
0        Member                 327.791305
1        Normal                 318.122856

In [11]:
query = """
SELECT Customer_type, Product_line, COUNT(*) AS PurchaseCount
FROM SalesTable
GROUP BY Customer_type, Product_line
ORDER BY Customer_type, PurchaseCount DESC;
"""
result = pd.read_sql(query, conn)
print(result)

   Customer_type            Product_line  PurchaseCount
0         Member      Food and beverages             94
1         Member       Sports and travel             87
2         Member     Fashion accessories             86
3         Member      Home and lifestyle             83
4         Member  Electronic accessories             78
5         Member       Health and beauty             73
6         Normal     Fashion accessories             92
7         Normal  Electronic accessories             92
8         Normal      Food and beverages             80
9         Normal       Sports and travel             79
10        Normal       Health and beauty             79
11        Normal      Home and lifestyle             77